In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [2]:
import os
os.chdir('//Users/rajatpa/Documents/DS/StatisticsforMachineLearning_Code/Chapter01')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [3]:

originial_data = pd.read_csv('/Users/rajatpa/Documents/DS/StatisticsforMachineLearning_Code/Chapter01/mtcars.csv')
originial_data

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [4]:
originial_data.shape

(32, 12)

In [5]:
# to print no of rows and coulmn sperately
display(originial_data.shape[0],originial_data.shape[1])

32

12

In [6]:
# As in the normal python or panda code we donot have standard function to split data into 
# Train, Validation and Test data, we have to use the split function twice for this and for this we have to write
# customized function

def data_split(data,trf = 0.5, vlf = 0.25,tsf = 0.25):
    nrows = data.shape[0]
    trnr = int(nrows * trf )
    vlnr = int(nrows * vlf)
    
    tr_data,rmng = train_test_split(data,train_size = trnr,random_state=42)
    vl_data, ts_data = train_test_split(rmng,train_size = vlnr,random_state=45)
    return (tr_data,vl_data,ts_data)

In [7]:
train_data, validation_data, test_data = data_split(originial_data,trf=0.5,vlf=0.25,tsf=0.25)

/Users/rajatpa/.conda/envs/Stats_ML/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [8]:
display(train_data, validation_data, test_data)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4

In [9]:
# “In the following code, implementation has been performed to determine whether a particular 
#“user will click an ad or not. Grid Search has been implemented using Decision Tree

# Tuning parameters are the Depth of the tree,The minimum number of observation in the terminal Node,
# and the minimum number of observation required to perform the node Split

from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV

/Users/rajatpa/.conda/envs/Stats_ML/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/rajatpa/.conda/envs/Stats_ML/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [10]:
input_data = pd.read_csv('/Users/rajatpa/Documents/DS/StatisticsforMachineLearning_Code/Chapter01/ad.csv',header=None)
input_data.head(20)

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,59,460,7.7966,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,60,234,3.9000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,-1,-1,-1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,90,52,0.5777,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,90,60,0.6666,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,90,60,0.6666,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
16,60,468,7.8000,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
17,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
19,30,585,19.5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
input_data.columns

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558],
           dtype='int64', length=1559)

In [12]:
 input_data.columns.names

FrozenList([None])

In [13]:
 input_data.columns.values

array([   0,    1,    2, ..., 1556, 1557, 1558])

In [14]:
# Here we are creating a set which contains all the columns names. mainly the values as names are not here.
X_columns = set(input_data.columns.values)
len(X_columns)

1559

In [15]:
y = input_data[len(input_data.columns.values)-1]
# basically y conatins the last column values of the input_data DataFrame
type(y)

pandas.core.series.Series

In [16]:
X_columns.remove(len(input_data.columns.values)-1)
X = input_data[list(X_columns)]
type(X)

pandas.core.frame.DataFrame

In [17]:
X.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,59,460,7.7966,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,60,234,3.9000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# Now let's split the data into train and test
X_train, X_test,y_train,y_test = train_test_split(X,y,train_size = 0.7,test_size = 0.3,random_state=33)

In [24]:
display(X_train.head(10),X_test.head(10))

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
234,-1,-1,-1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239,71,87,1.2253,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1331,44,110,2.5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2145,31,88,2.8387,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
854,-1,-1,-1.0000,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2920,20,134,6.7000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529,23,26,1.1304,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289,-1,-1,-1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1091,119,250,2.1008,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1314,43,126,2.9302,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
125,-1,-1,-1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1146,134,184,1.3731,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3148,32,37,1.1562,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2687,11,115,10.4545,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1902,-1,-1,-1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
523,-1,-1,-1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1095,78,101,1.2948,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1168,16,130,8.1250,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1031,20,150,7.5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
display(y_train.head(10),y_test.head(10))

234     1
3239    0
1331    0
2145    0
854     0
2920    0
2529    0
289     1
1091    0
1314    0
Name: 1558, dtype: int64

125     1
228     1
1146    0
3148    0
2687    0
1902    0
523     0
1095    0
1168    0
1031    0
Name: 1558, dtype: int64

In [32]:
pipeline = Pipeline([
    ('clf', DecisionTreeClassifier(criterion='entropy'))
])

In [34]:
parameters = {
    'clf__max_depth': (50,100,150),
    'clf__min_samples_split': (2, 3),
    'clf__min_samples_leaf': (1, 2, 3)
}

In [35]:
grid_search = GridSearchCV(pipeline, parameters, n_jobs=-1, verbose=1, scoring='accuracy')
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    1.9s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    2.8s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('clf', DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))]),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'clf__max_depth': (50, 100, 150), 'clf__min_samples_split': (2, 3), 'clf__min_samples_leaf': (1, 2, 3)},
       pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=1)

In [38]:

y_pred = grid_search.predict(X_test)

In [39]:
print ('\n Best score: \n', grid_search.best_score_)
print ('\n Best parameters set: \n')

 Best score:
 0.9681917211328976

 Best parameters set:

In [40]:
for param_name in sorted(parameters.keys()):
    print ('\t%s: %r' % (param_name, best_parameters[param_name]))
print ("\n Confusion Matrix on Test data \n",confusion_matrix(y_test,y_pred))
print ("\n Test Accuracy \n",accuracy_score(y_test,y_pred))
print ("\nPrecision Recall f1 table \n",classification_report(y_test, y_pred))

NameError: name 'best_parameters' is not defined